/* GLOBAL */

/* NAVBAR STYLING */

.navbar-brand {
    color: black;
}

.nav-link {
    color: black;
    font-size: 20px;
}

/* INTRO STYLING */

.introWrapper {
    height: 100vh;
}

.introWrapper2 {
    height: 100vh;
    width: inherit;
}

.introText {
    margin-bottom: 12.5em;
}

.heading {
    border-bottom: 2px solid black;
    width: 400px;
    text-align: center;
}

/* ME STYLING */

.me {
    height: 700px;
    background-color: #adb5bd;
}

.hello {
    text-align: center;
}

.pPicture {
    width: 300px;
    height: 300px;
}

/* SKILLS STYLING */

.skills {
    height: 700px;
    background-color: #ced4da;
}

.skillsHeading {
    margin-bottom: 100px;
    font-size: 35px;
    text-decoration: underline ;
}

.skillCon {
    width: 400px;
    height: 200px;
    padding-top: 20px;
    padding-left: 30px;;
}

.boxRow {
    margin: 0px 50px;
}

#box1, #box3 {
    border-right: 2px solid #adb5bd;
}

#box3, #box4{
    border-top: 2px solid #adb5bd;
}